extends layout

block content
	div.header
		h1= title
	
		each api in apis
			button(ingredient=api.name).btn.ingredient Add some #{api.name}
			
		button.btn#cook Write it down
		div.results
		
	each api in apis
		div.api.dummy(name=api.name)
			a.close(href="#") toss it out
		
			h2 #{api.name}
			p
				label methods: 
				select(class="methods")
					each val,key in api.apiActions
						option(value=key)= key
			
			p
				label limit (maximum amount of queries to execute):
					select(name="limit")
						each limit, i in limits
							option(value=limit)= limit
			hr
			
			each val,key in api.apiActions
				div(id=key,class="api_action")
					h3 #{key}
					div
						label parameter name: 
						select(name="in_param_name")
							each in_param_name, i in val.in_param_names
								option(value=in_param_name)= in_param_name
											
					
					div
						label parameter value source (from previous API if existing) 
								select(name="output_node")
									each output_node, i in val.output_nodes
										option(value=output_node)= output_node
										
					hr
					
					if val.optionals
						div.optionals
							h4 Optional and static parameters
							each optional_param, i in val.optionals
									if optional_param.paramValues
										div
											label #{optional_param.paramName}:
											select(name=optional_param.paramName)
												option(value="")= "-"
												each optional_param_value, i in optional_param.paramValues
													option(value=optional_param_value)=optional_param_value
									else
										div
											label #{optional_param}:
											input(name=optional_param)
										
						hr
			
			input(name="taste_q")
			button.taste(href="#") taste
			
			div.taste_box
				a.hide(href="#") hide
				pre
			